/* ---------------------------

	Media Queries 

--------------------------- */
/* ---------------------------

	to use

	.some selector {
    padding: 2rem;
    font-size: 1.8rem;

    @include mq('tablet-wide') {
        padding-top: 4rem;
        font-size: 2.4rem;
    }
}

--------------------------- */
